#video-cards-wrapper {
  container: video-cards / inline-size;
}

#video-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
}

.video-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.video-thumbnail-wrapper {
  position: relative;
}

.video-thumbnail {
  width: 100%;
  margin-bottom: 0.75rem;
}

.video-duration {
  font-size: 0.8rem;
  background-color: hsla(0, 0%, 0%, 0.7);
  position: absolute;
  padding: 0.25rem 0.4rem;
  bottom: 1.25rem;
  right: 0.5rem;
  border-radius: 0.3rem;
}

.video-info {
  display: flex;
  padding: 0 1rem;
}

.channel-thumbnail {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100vmax;
  margin-right: 0.75rem;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 0.9rem;
  font-weight: bold;
  display: -webkit-box;
  /* Max vertical line limit */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.channel-title {
  font-size: 0.8rem;
  color: hsl(0, 0%, 60%);
}

.infinite-scroll-component {
  overflow: hidden !important;
}

@container video-cards (min-width: 528px) {
  #video-cards {
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(16.5rem - 0.5rem), 1fr)
    );
    /* Padding inline is 0.5rem from here + 0.5rem from the video cards on each edge */
    padding-inline: calc(var(--global-padding-inline) / 2);
  }

  .video-card {
    padding-inline: 0.5rem;
  }

  .video-thumbnail {
    border-radius: 1.5rem;
  }

  .video-info {
    padding: 0;
  }
}
